@use 'globals';

.custom-button {
    display: inline-block;
    cursor: pointer;
    padding: 0.875rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;

    background-color: none;
    border: none;

    transition: all 0.3s;

    &.white {
        background-color: globals.$white-100;
        color: globals.$black-500;
        border: 1px solid globals.$white-300;
        @media (min-width: globals.$break-point) {
            &:hover {
                background-color: globals.$white-300;
            }
        }
        
        &:active {
            background-color: globals.$cyan-200;
        }
    }
    &.gray {
        background-color: globals.$white-200;
        color: globals.$cyan-300;

        @media (min-width: globals.$break-point) {
            &:hover {
                background-color: globals.$white-300;
            }
        }
    }
    &.blue {
        background-color: globals.$cyan-300;
        color: globals.$white-200;

        @media (min-width: globals.$break-point) {
            &:hover {
                background-color: globals.$cyan-200;
            }
        }
    }

    @media (max-width: globals.$break-point) {
        padding: 0.375em 0.5em;
    border-radius: 0.625rem;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 500;
    &.lg {
        font-size: 1rem;
        font-weight: 500;
        padding-block: 0.875rem;
    }
    }
}