
$white-100: #fff;
$white-200: #f6f7fb;
$white-300: #e7eaf3;

$black-100: #b8c1ed;
$black-200: #8890b8;
$black-300: #505a8a;
$black-400: #3f4a80;
$black-500: #2a2f4a;
$black-600: #1e2136;

$cyan-100: #669dff;
$cyan-200: #7b88ff;
$cyan-300: #005bff;

$break-point: 1400px;