@use 'globals';

.header-wrapper {
    width: 1400px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-block: 0.5rem;
}

.header-content {
    
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    
    margin-inline: auto;
    width: calc(globals.$break-point - 3rem);

    background-image: radial-gradient(globals.$white-100 1px, rgba(255, 255, 255, 0.6) 1px);
    background-size: 30px 20px;
    backdrop-filter: blur(6px) ;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-btns {
    display: flex;
    gap: 1em;
    align-items: center;
}

.nav {
    padding-block: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.header-logo {
    height: 26px;
    width: 171px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 1rem;
    .nav-links-divider {
        height: 0.875rem;
        width: 1px;
        background-color: globals.$black-100;
    }

    .nav-link {
        cursor: pointer;
        border-radius: 0.875rem;

        padding: 0.75rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        .nav-link-text {
            
            display: flex;
            flex-direction: column;
            .nav-link-text-top {
                font-weight: 500;
                font-size: 0.625rem;
                line-height: 0.85rem;
                color: globals.$black-200;
            }
            .nav-link-text-bottom {
                transition: all 0.3s;
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 1.125rem;
                color: globals.$black-300;
            }
        }
        svg {
            height: 1.375rem;
            width: 1.375rem;;
        }
        .nav-link-icon {
            transition: all 0.3s;
            fill: globals.$black-300;
        }
        transition: all 0.3s;
        &:hover {
            background-color: globals.$white-200;
            .nav-link-text-bottom {
                color: globals.$cyan-300;

            }
            .nav-link-icon {
                fill: globals.$cyan-300 ;
            }
        }

        &:active {
            background-color: globals.$white-300;
            .nav-link-text-bottom {
                color: globals.$black-300;

            }
            .nav-link-icon {
                fill: globals.$black-300 ;
            }
        }
    }
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 1rem;
    
    background-color: globals.$white-100;
    // background-image: radial-gradient(globals.$white-100 1px, transparent 1px);
    // background-size: 30px 30px;
    // background-color: transparent;
    // backdrop-filter: blur(7px);

    .logo-mobile {
        width: 107px;
    }

    .header-btns-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .burger-btn {
            background-color: transparent;
            border: none;
            svg {
                height: 1.125rem;
                width: 0.75rem;
                
            }
            .burger-icon {
                fill: #000000;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0;
    height: calc(100vh - 5rem) ;
    width: 70%;
    padding: 2.5rem 1.5rem;
    border-radius: 0 1.5rem 0 0;
    background-color: globals.$white-100;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 2.5rem;

    transform: translateX(-100%);
    transition: all 0.3s;
    &.open {
        transform: translateX(0);
    }

    .mobile-menu-top {
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
            padding: 10px;
            background-color: globals.$white-200;
            border-radius: 0.5rem;
            width: 15px;
            height: 13px;
        }
        .close-menu-icon {
            fill: globals.$black-200;
        }
        .menu-title {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .mobile-menu-langs {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .mobile-menu-langs-title {
            font-size: 0.75rem;
            color: globals.$black-300;
        }
        .mobile-menu-langs-switch {
            position: relative;
            
            background-color: globals.$white-200;
            border-radius: 0.75rem;
            display: flex;
            .lang {
                width: 50%;
                text-align: center;
                padding-block: 0.5rem;
                font-size: 13px;
                color: globals.$black-600;
                z-index: 1;
                transition: all 0.3s;
                &.active {
                    color: globals.$white-100;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 50%;
                background-color: globals.$cyan-300;
                border-radius: 0.75rem;
                transition: all 0.3s;
                
                
            }
            &.toggled {
                &:before {
                    transform: translateX(100%);
                }
            } 
        }
    }
    .mobile-menu-bottom {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    }
}


.backdrop {
    position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: none; 
  &.open {
    display: block;
  }
}

@media (min-width: globals.$break-point) {
    .header-mobile, .mobile-menu, .backdrop {
        display: none;
    }
}

@media (max-width: globals.$break-point) {
    .header-content {
        display: none;
    }

    .header-wrapper {
        width: 100%;
        margin-block: 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    
        gap: 0.5rem;
        .nav-links-divider {
            height: 1px;
            width: 100%;
            background-color: globals.$white-300;
        }
    
        .nav-link {
            cursor: pointer;
            border-radius: 0.875rem;
    
            padding: 0.75rem;
    
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            .nav-link-text {
                
                display: flex;
                flex-direction: column;
                .nav-link-text-top {
                    font-weight: 500;
                    font-size: 0.625rem;
                    line-height: 0.85rem;
                    color: globals.$black-200;
                }
                .nav-link-text-bottom {
                    transition: all 0.3s;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    color: globals.$black-300;
                }
            }
            svg {
                height: 1.375rem;
                width: 1.375rem;;
            }
            .nav-link-icon {
                transition: all 0.3s;
                fill: globals.$black-300;
            }
            transition: all 0.3s;
            &:hover {
                background-color: none;
                .nav-link-text-bottom {
                    color: globals.$black-300;
    
                }
                .nav-link-icon {
                    fill: globals.$black-300;
                }
            }
    
            &:active {
                background-color: globals.$white-300;
                .nav-link-text-bottom {
                    color: globals.$black-300;
    
                }
                .nav-link-icon {
                    fill: globals.$black-300 ;
                }
            }
        }
    }
}